// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include "omap36xx.dtsi"

/ {
	model = "Embest DM3730 EVM";
	compatible = "embest,dm3730-evm", "ti,omap3630", "ti,omap3";

	chosen {
		stdout-path = &uart3;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512MB */
	};

	hfclk_26m: oscillator {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <26000000>;
	};
};

/* I2C1 + TWL4030 definition FIRST */
&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <2600000>;

	twl: twl@48 {
		reg = <0x48>;
		interrupts = <7>;
		interrupt-parent = <&intc>;
		clocks = <&hfclk_26m>;
		clock-names = "fck";
	};
};

/* NOW include the TWL definitions */
#include "twl4030.dtsi"
#include "twl4030_omap3.dtsi"

/* UART3 */
&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
	interrupts-extended = <&intc 74 &omap3_pmx_core OMAP3_UART3_RX>;
};

&omap3_pmx_core {
	i2c1_pins: i2c1-pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x21ba, PIN_INPUT | MUX_MODE0) /* i2c1_scl */
			OMAP3_CORE1_IOPAD(0x21bc, PIN_INPUT | MUX_MODE0) /* i2c1_sda */
		>;
	};

	uart3_pins: uart3-pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x219e, PIN_OUTPUT | MUX_MODE0) /* uart3_tx */
			OMAP3_CORE1_IOPAD(0x21a0, PIN_INPUT  | MUX_MODE0) /* uart3_rx */
		>;
	};

};

