// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include "omap36xx.dtsi"

/ {
	model = "Embest DM3730 EVM";
	compatible = "embest,dm3730-evm", "ti,omap3630", "ti,omap3";

	chosen {
		stdout-path = &uart3;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512MB */
	};

	hfclk_26m: oscillator {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <26000000>;
	};

	hsusb1_phy: hsusb1-phy {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <2600000>;

	twl: twl@48 {
		reg = <0x48>;
		interrupt-parent = <&intc>;
		interrupts = <7>;
		clocks = <&hfclk_26m>;
		clock-names = "fck";
	};
};

#include "twl4030.dtsi"
#include "twl4030_omap3.dtsi"

&omap3_pmx_core {

	i2c1_pins: i2c1-pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x21ba, PIN_INPUT | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x21bc, PIN_INPUT | MUX_MODE0)
		>;
	};

	uart3_pins: uart3-pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x219e, PIN_OUTPUT | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x21a0, PIN_INPUT  | MUX_MODE0)
		>;
	};

	dm9000_pins: dm9000-pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x20ba, PIN_OUTPUT | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x2184, PIN_INPUT_PULLUP | MUX_MODE4)
		>;
	};

	mmc1_pins: mmc1-pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x2144, PIN_INPUT_PULLUP | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x2146, PIN_INPUT_PULLUP | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x2148, PIN_INPUT_PULLUP | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x214a, PIN_INPUT_PULLUP | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x214c, PIN_INPUT_PULLUP | MUX_MODE0)
			OMAP3_CORE1_IOPAD(0x214e, PIN_INPUT_PULLUP | MUX_MODE0)
		>;
	};
};

&omap3_pmx_core2 {

	hsusb1_pins: hsusb1-pins {
		pinctrl-single,pins = <
			OMAP3430_CORE2_IOPAD(0x25d8, PIN_OUTPUT | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25da, PIN_OUTPUT | MUX_MODE3)

			OMAP3430_CORE2_IOPAD(0x25dc, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25de, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25e0, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25e2, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25e4, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25e6, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25e8, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25ea, PIN_INPUT  | MUX_MODE3)

			OMAP3430_CORE2_IOPAD(0x25ec, PIN_INPUT  | MUX_MODE3)
			OMAP3430_CORE2_IOPAD(0x25ee, PIN_INPUT  | MUX_MODE3)
		>;
	};
};


&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
	interrupts-extended = <&intc 74 &omap3_pmx_core OMAP3_UART3_RX>;
};


&gpmc {
	ranges = <6 0 0x2c000000 0x1000000>;

	ethernet@6,0 {
		compatible = "davicom,dm9000";
		reg = <6 0x000 2>, <6 0x400 2>;
		bank-width = <2>;

		interrupt-parent = <&gpio1>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>;

		davicom,no-eeprom;

		gpmc,mux-add-data = <0>;
		gpmc,device-width = <1>;
		gpmc,wait-pin = <0>;

		gpmc,cycle2cycle-samecsen;
		gpmc,cycle2cycle-diffcsen;

		gpmc,cs-on-ns = <6>;
		gpmc,cs-rd-off-ns = <180>;
		gpmc,cs-wr-off-ns = <180>;
		gpmc,adv-on-ns = <0>;
		gpmc,adv-rd-off-ns = <18>;
		gpmc,adv-wr-off-ns = <48>;
		gpmc,oe-on-ns = <54>;
		gpmc,oe-off-ns = <168>;
		gpmc,we-on-ns = <54>;
		gpmc,we-off-ns = <168>;
		gpmc,rd-cycle-ns = <186>;
		gpmc,wr-cycle-ns = <186>;
		gpmc,access-ns = <144>;
		gpmc,page-burst-access-ns = <24>;
		gpmc,bus-turnaround-ns = <90>;
		gpmc,cycle2cycle-delay-ns = <90>;
		gpmc,wait-monitoring-ns = <0>;
		gpmc,clk-activation-ns = <0>;
		gpmc,wr-data-mux-bus-ns = <0>;
		gpmc,wr-access-ns = <0>;
	};
};

&mmc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	vmmc-supply = <&vmmc1>;
	bus-width = <4>;
	cd-gpios = <&twl_gpio 0 GPIO_ACTIVE_LOW>;
	cd-debounce-delay-ms = <500>;
	broken-cd;
};

&usbhshost {
	status = "okay";
	port1-mode = "ehci-phy";
};

&usbhsehci {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&hsusb1_pins>;
	phys = <&hsusb1_phy>;
	phy-names = "usb";
};
